<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="questionDao" class="ru.diasoft.dao.QuestionDaoImpl">
        <constructor-arg value="${filename}"/>
    </bean>

    <bean id="ioService" class="ru.diasoft.service.IOServiceImpl"/>

    <bean id="questionService" class="ru.diasoft.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="runService" class="ru.diasoft.service.RunServiceImpl">
        <constructor-arg name="studentService" ref="studentService"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

    <bean id="studentService" class="ru.diasoft.service.StudentServiceImpl"/>

</beans>